body{
  width:100%;
  background-color:#f4f4f4;
  margin:0%;
  font-family:font-family, Arial, Arial Black,Helvetica,sans-serif;
}

h1{
  padding: 16 10;
  font-size:40px;
  margin:0%;
  text-align: center;
}

h2{
  font-size:35px;
  text-align: center;
  font-weight:900;
}
p {
  padding:0 8px
}

/*sections*/
#container{
  padding:0%;
  margin:0%;
}
#header{
  background-color: #ccccff;
}
#nav{
 border-bottom: #3399ff 3px solid
}
#footer{
  background-color: #000038;
  padding-bottom:50px;
}

.centered{
  padding:0%;
  margin:0%;
}

/*buttons*/
@keyframes team-hover {
  0% {background-color:#ccccff;color:#404040;padding:6px 6px 6px 6px}
  2% {background-color:#a3a3ff;color:#000038;padding:6px 6px 6px 6px}
  100% {background-color:#a3a3ff;color:#000060;padding:6px 6px 6px 6px}
}

@keyframes team-unhover {
  0% {background-color:#a3a3ff;color:#000060;padding:6px 6px 6px 6px}
  2% {background-color:#ccccff;color:#404040;padding:6px 6px 6px 6px}
  100% {background-color:#ccccff;color:#404040;padding:6px 6px 6px 6px}
}
a{
  text-decoration:none;
}
.button {
  background-color:#ccccff;
  color:#404040;
  padding:6px 6px 6px 6px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 900;
  text-align:center;
  display: inline-block;
  margin: 10px 5px;
  width:1fr;
  animation: team-unhover 75s ease 1;
  animation-play-state: running;
}
.button:hover{animation: team-hover 75s ease 1;animation-play-state: running;}

.footer-link {
  color: #f4f4f4;
  padding: 10px 6px;
}

#main-img{
  width:100%;
  padding-bottom:15px;
}

#block-holder{
  display:inline-block;
  width:100%;
  max-height:70px;
  box-sizing:border-box;
}
.footer-block{
  font-size: 20px;
  width:30%; 
  text-align:center;
  padding:10px 10px;
  min-width:150px; 
  display:inline-block;
  color:#0066ff;
}

.font-Montserrat{
  font-family: 'Montserrat', sans-serif;
}
.font-Oswald{
  font-family: 'Oswald', sans-serif;
}
.font-Source-Sans-Pro{
  font-family: 'Source Sans Pro', sans-serif;
}